body {
	text-align: center;
}


.fr {
	display: inline-block;
	width: 750px;
	font-size:0px;
}
.th > span {
	border: 1px solid #444444;
}

span {
	display: inline-block;
	width: 140px;
	text-align: center;
	font-size: 11pt;
	/* border: 3px dashed #f40bc0; */
}


.th > span {
	font-weight: bold;
	background-color: #800000;
	color: yellow;
	border: 5px dotted pink;
}

div > span:first-child,
div > span:first-child + span {
	width: 100px;
}
div > span:nth-child(4) {
	width: 190px;
}


.tr:nth-child(2n+1) > span {
	background-color: lightgray;	
}