html, body {
	text-align: center;
}
.mainfr {
	display: inline-block;
	width: 760px;
	text-align: left;
}
.phidden {
	visibility: hidden;
}
.dlogo {
	background-image: url(../img/naver_logo_top.png);
	background-size: auto 30px;
	background-repeat: no-repeat;
	border-bottom: 2px solid gray;
}
H4 {
	color: #333333;
	margin-top: 50px;
	margin-bottom: 0px;
}
.inprofile {
	padding-bottom: 10px;
	border-bottom: 2px solid gray;
}
.ttl {
	display: inline-block;
	width: 117px;
	text-align: right;
	font-size: 10pt;
	font-weight: bold;
	color: #333333;
}
.input-right {
	display: inline-block;
	padding: 7px 0px 7px 22px;
}
.inputfr1 {
	display: inline-block;
	width: 432px;
	margin-left: 22px;
}
.input1 {
	display: inline-block;
	padding: 0px 40px 0px 11px;
	width: 385px;
	height: 40px;
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
	color: #333333;
	border: 1px solid lightgray;
}
.inputtext {
	display: inline-block;
	width: 223px;
	height: 40px;
	maxlength: 40;
	border: 1px solid lightgray;
	margin-right: 5px;
	font-size: 14pt;
}
.hintfr {
	display: inline-block;
	width: 110px;
	padding-bottom: 0px;
}
.hint {
	display: inline-block;
	height: 13px;
	font-size: 8pt;
	color: #333333;
	/* padding: 15px 0px 0px 5px; */
	/* line-height: 200%; */
	margin-bottom: 0px;
}
.hintbox {
	display: inline-block;
}
.idomain {
	padding-right: 10px;
	font-size: 14pt;
	color: #333333;
}
.btnbox {
	display: inline-block;
	text-align: center;
	width: 94px;
	height: 40px;
	background-color: #f35241;
	color: white;
	text-decoration: none;
	border-radius: 3px;
}
.btn {
	display: inline-block;
	margin-top: 9px;
}

.ttl2 {
	display: inline-block;
	width: 400px;
	text-align: center;
}

.mt1 {
	width: 100px;
	display: inline-block;
	margin-top: -20px;
}